In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Specify the path to your Parquet file
application_train_path="/path/to/your/parquet/file"
application_test_path="/path/to/your/parquet/file"
abt_bureau_balance_path = "/path/to/your/parquet/file"
abt_bureau_path = "/path/to/your/parquet/file"
abt_instalments_payments_path = "/path/to/your/parquet/file"
abt_POS_CASH_balance_path = "/path/to/your/parquet/file"
abt_credit_card_balance_path = "/path/to/your/parquet/file"
abt_previous_application_path = "/path/to/your/parquet/file"


# Read the Parquet file into a DataFrame
application_train=spark.read.parquet(application_train_path)
application_test=spark.read.parquet(application_test_path)
abt_bureau_balance = spark.read.parquet(abt_bureau_balance_path)
abt_bureau=spark.read.parquet(abt_bureau_path)
abt_instalments_payments=spark.read.parquet(abt_instalments_payments_path )
abt_POS_CASH_balance=spark.read.parquet(abt_POS_CASH_balance_path)
abt_credit_card_balance=spark.read.parquet(abt_credit_card_balance_path)
abt_previous_application=spark.read.parquet(abt_previous_application_path)

# Show the DataFrame
#df.show()

# Stop the Spark session (optional, if you're done with Spark)
#spark.stop()

In [ ]:
application_train.createOrReplaceTempView("table1")
abt_bureau_balance.createOrReplaceTempView("table2")

query = """
SELECT t1.*, t2.*
FROM table1 t1
LEFT JOIN table2 t2 ON t1.SK_ID_CURR = t2.SK_ID_CURR_bureau
"""

result1=spark.sql(query)

application_test.createOrReplaceTempView("table3")

query = """
SELECT t3.*,t2.*
FROM table3 t3
LEFT JOIN table2 t2 ON t3.SK_ID_CURR = t2.SK_ID_CURR_bureau
"""

result2=spark.sql(query)